.Header {
  position: relative;
  background-color: rgb(70, 86, 231);
  height: 100vh;
  width: 100vw;
}

.HeaderImage {
  position: absolute;
  background-color: pink;
  bottom: 15%;
  height: 30vh;
  width: 100vw;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.image {
  float: left;
  height: 30vh;
  margin-left: 3vw;
  width: 45vw;
}
.HeaderTexts {
  background-color: red;
  position: absolute;
  top: 10%;

  text-align: center;
  width: 100vw;
  height: 40vh;
}
.HeaderHeading {
  font-size: 2vw;
}

.HeaderSubtitle {
  font-size: 32px;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 839px) {
}

@media only screen and (max-width: 670px) {
}

@media only screen and (max-width: 375px) {
}
