.navBar_menu_container {
  height: 90vh;
  width: 40vw;
  background-color: transparent;
  text-align: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 20vh;
  background-color: transparent;
}

li {
  font-size: 4vh;
  font-weight: bold;
  margin-top: 3vh;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  li {
    margin-top: 4vh;
  }
  ul {
    padding: 18vh;
  }
}
