@keyframes transperantAnimationFadeIn {
  0% {
    background: rgba(208, 209, 208, 0);
  }

  100% {
    background: rgba(208, 209, 208, 0.7);
  }
}

@keyframes transperantAnimationFadeOut {
  0% {
    background: rgba(208, 209, 208, 0.7);
  }

  100% {
    background: rgba(208, 209, 208, 0);
  }
}

.navBarContainer {
  top: 0;
  position: fixed;
  z-index: 2;
  background: rgba(208, 209, 208, 0.7);
  height: 100vh;
  animation: transperantAnimationFadeIn 2s;
  width: 100vw;
}

.transparentNavBarContainer {
  top: 0;

  animation: transperantAnimationFadeOut 2s;
}

.logo_container {
  z-index: 2;
  position: fixed;
  background-color: transparent;
  height: 10vh;
  width: 100vw;
}

.logo {
  margin-left: 5%;
  margin-top: 1%;
  max-width: 100%;
  max-height: 100%;
}

.navBarSearchButton {
  position: absolute;
  color: rgb(254, 92, 119);
  background-color: transparent;
  right: 10vw;
  top: 1vh;
  margin-top: 1%;
  border: none;
}

.navBarMenuButton {
  position: absolute;
  color: rgb(254, 116, 139);
  background-color: transparent;
  right: 15vw;
  top: 1vh;
  margin-top: 1%;
  border: none;
}

.navBarAccountButton {
  position: absolute;
  color: rgb(254, 116, 139);
  background-color: transparent;
  right: 5vw;
  top: 1vh;
  margin-top: 1%;
  border: none;
}

.navBar_Menu {
  position: fixed;
  align-content: center;
  text-align: center;
  background-color: transparent;
  height: 90vh;
  width: 90vw;
  margin-top: 10vh;
  margin-left: 5vw;
}

.removeNavBar_Menu {
  display: none;
}

.mainInput {
  z-index: 2;
  position: fixed;
  top: 0;
  margin-top: 30%;
  margin-left: 30%;
}
.removeMainInput {
  display: none;
}

.dropDownDisplay {
  position: fixed;
  align-content: center;
  text-align: center;
  background-color: transparent;
  height: 90vh;
  width: 90vw;
  margin-top: 10vh;
  margin-left: 5vw;
}
.removeDropDownDisplay {
  display: none;
}

button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .navBarMenuButton {
    right: 15vw;
  }
}
